<div class="row">
    <div class="col-3"></div>
    <div class="col">

        <div class="container homeContainer">
            <h1 class="headline">Bienvenido a Allas</h1>
            <div><a [routerLink]="['/isRegister']">IsRegistered</a></div>
            <div><a [routerLink]="['/changeID']" >ChangeID</a></div>
            <div><a [routerLink]="['/deleteID']" >DeleteID</a></div>
            <div><a [routerLink]="['/register']">Register</a></div>
            <div><a [routerLink]="['/identify']">Identify</a></div>
            <div><a [routerLink]="['/verify']">Verify</a></div>
            <div><a [routerLink]="['/update']" >Update</a></div>
            <div><a [routerLink]="['/activeDevice']">Change active device</a></div>
        </div>
    </div>
    <div class="col-3"></div>
</div>