<div class="formWrapper">
    <!-- <% if (messages.info) { %>
    <p class="success-message"><%- messages.info %></p>
    <% } %> -->
    <!-- <p class="success-message"><%- messages.info %></p> -->
    <form class="commonForm" action="" method="POST">
        <h1 class="headline">Identify</h1>
        <div class="mt-10">
            <label>Capture Type:</label>
            <select name="captureType" id="captureType">
                <option value="SingleCapture">Single Capture</option>
                <option value="DoubleCapture">Double Capture</option>
            </select>
        </div>
        <div class="mt-10">
            <label>Quick Scan:</label>
            <select name="quickScan" id="quickScan">
                <option value="Enable">Enable</option>
                <option value="Disable">Disable</option>
            </select>
        </div>
        <div>
            <label id="lblCurrentDeviceName">Current Device Name:</label>
            <input type="button" name="biometricCapture" value="Biometric Capture" onclick="captureBiometric()">
            <!-- NO SE DONDE ESTA EL CODIGO DEL SUBMIT -->
            <input type="button" name="identify" value="Identify" (click)="onTemplate(template.value)">
        </div>
        <div><a href="/" class="btnb">Back</a></div>
        <input type="hidden" name="templateXML" id="templateXML" #template  value="">
    </form>
    <label id="serverResult"></label>
</div>